---
import BlogList from "@components/BlogList.astro";

import { getAllPosts } from "../../src/library/microcms";
import ButtonBasic from "./ButtonBasic.astro";

const posts = await getAllPosts(4);

---

<section class="blogs">
  <h2>最近のブログ</h2>
  <div class="splide" role="group" aria-label="最近のブログ" id="blogSlider">
    <div class="sliderWrap splide__track">
      <div class="container splide__list">
        {
          posts.map((post) => (
            <BlogList
              id={post.id}
              slug={post.slug}
              src={post.eyecatch.url}
              date={post.publishedAt}
              title={post.title}
              summary={post.summary}
            />
          ))
        }
      </div>
    </div>
  </div>
  <ButtonBasic
  url = {"location.href='/blogs/1'"},
  text = {"もっと見る"}
  />
</section>

<style>
  section {
    margin: 4rem auto;
  }
  .blogs {
    opacity: 0;
    transform: translateY(20px);
    transition: 2s;
    padding-block-end: 4rem;
  }

  h2 {
    text-align: center;
  }

  .splide {
    margin-inline: auto;
    max-width: 1260px;
    margin-bottom: 2.4rem;
  }
  .sliderWrap {
    overflow-y: hidden;
    margin-inline: auto;
  }

  .splide__arrows {
    height: 4em;
    width: 4em;
  }

</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    class ScrollObserver {
      constructor(els, cb, options) {
        //監視対象のelementsを取得
        this.els = document.querySelectorAll(els);
        //オプションのデフォルト設定を定義
        const defaultOptions = {
          root: null,
          rootMargin: "0px",
          threshold: 0,
        };
        this.cb = cb;
        //デフォルト設定に、個別設定のオプションをマージする
        this.options = Object.assign(defaultOptions, options);
        //
        this._init();
      }
      _init() {
        const callback = (entries) => {
          entries.forEach((entry) => {
            //監視対象の要素が領域内に入った場合の処理
            if (entry.isIntersecting) {
              this.cb(entry.target, true); //true=isIntersectingがtrue
              //処理後に監視を切る処理
              observer.unobserve(entry.target);
            }
          });
        };
        const observer = new IntersectionObserver(
          callback.bind(this),
          this.options
        );
        //対象の要素elを監視
        this.els.forEach((el) => observer.observe(el));
      }
    }

    const fadein = function (el, isIntersecting) {
      if (isIntersecting) {
        el.style.opacity = 1;
        el.style.transform = "none";
      }
    };
    const fadeinTrigger = new ScrollObserver(".blogs", fadein, {
      rootMargin: "-200px 0px",
      threshold: 0,
    });
  });

  import Splide from "@splidejs/splide";
  import "../styles/splide.min.css";
  // Splideのオプション設定
  const options = {
    type: "slide",
    fixedWidth:"300px",
    height: "340px",
    gap: "20px",
    padding:  { left: '4rem', right: '4rem' },
    focus    : 'center',
    trimSpace: false,
    mediaQuery: "min",
    breakpoints: {
      1260: {
        focus    : false,
        trimSpace: true,
        arrows: false,
        padding: 0,
      }
    },
  }

  let blogSlider = new Splide("#blogSlider", options);
  blogSlider.mount();

</script>
