---
let { id, src, date, title, summary } = Astro.props;
date = new Date(date).toLocaleDateString("ja-JP").split("/").join(".")

---

<div class="container">
  <a href=`/${id}` class="flex">
    <div class="image">
      <img src={src} alt="" />
    </div>
    <div class="wrapper">
      <p class="date">{date}</p>
      <h2>{title}</h2>
      <p class="summary">{summary}</p>
    </div>
  </a>
</div>

<style>
  img {
    width: 100%;
    height: auto;
  }
  .image {
    width: 220px;
  }
  a {
    text-decoration: none;
  }
  .container {
    /* width: 280px; */
    container-type: inline-size;
    resize: horizontal;
    overflow: auto;
    display: flex;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
  }

  .container h2 {
    font-size: 1.4rem;
  }
  .container p {
    padding: 0;
    font-size: 1.2rem;
  }
  .date {
    font-size: 1rem;
  }
  .wrapper {
    color: var(--textBlack);
    position: relative;
    height: 100px;
    overflow: hidden;
  }
  .summary {
    color: var(--textBlack);
    overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  }
  .wrapper::after {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #f0f0f0e0, #f0f0f000);
  }

  @container (220px <= width) {
    .flex {
      flex-direction: row;
      justify-content: space-between;
    }
    .image {
      width: auto;
      /* width: 120px; */
      flex: 1 1 auto;
    }
    .wrapper {
      flex: 1 1 auto;
      /* width: 200px; */
    }
  }


  @container (350px <= width) {
  .container h2 {
    font-size: 2rem;
  }
  .container p {
    font-size: 1.6rem;
  }
  .date {
    font-size: 1.2rem;
  }
  }

  @container (460px <= width) {
    .summary {
      line-height: 1.75;
    -webkit-line-clamp: 3;
  }
  }

</style>
