---
import type { GetStaticPathsOptions } from "astro";

import BlogList from "@components/BlogList.astro";

import { getBlogs, getAllPosts } from "../../src/library/microcms";
// import Paginate from "@components/Paginate.astro";

// export const prerender = true;

export const posts = await getAllPosts(4);

---

<section class="blogs">
  <h2>ブログ</h2>
  <div class="sliderWrap">
  <div class="container">
    {
      posts.map((post) => (
        <BlogList
          id={post.id}
          slug={post.slug}
          src={post.eyecatch.url}
          date={post.publishedAt}
          title={post.title}
          summary={post.summary}
        />
      ))
    }
  </div>
  <div>
</section>

<style>
    section {
    /* max-width: 900px; */
    margin: 4rem auto;
  }

  h2 {
    text-align: center;
  }

  .sliderWrap {
    /* box-sizing: border-box; */
    /* position: relative; */
    /* width: 100%; */
    /* height: auto; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    overflow: hidden;
    overflow-x: auto;
    /* gap: 16px; */
    scroll-snap-type: x mandatory;
    /* padding-inline: 64px; */
  }

  .BlogList {
    display: flex;
  }
  .container {
    margin-block: 4rem;
    /* flex: 0 0 auto; */
    display: flex;
    justify-content:space-evenly;
    align-items: start;
    width: 1160px;
    height: 300px;
    margin-left: -220px;
    scroll-snap-align: center;
  }
</style>
