---
import ArrowForward from "./ArrowForward.astro";
import ArrowNext from "./ArrowNext.astro";

const { prev, next, currentPage, lastPage } = Astro.props;
---

<nav class="pagination">
  <!-- 前Pが存在する場合、前へリンクを表示 -->
  {prev ? <ArrowForward prev={prev} /> : <div class="blank"/>}

  <ul>
    <!--前々頁が存在する場合は 先頭の頁と...を表示-->
    {
      currentPage > 2 ? (
        <>
          <li>
            <a href="/blogs/1">1</a>
          </li>
          <li class="dot">...</li>
        </>
      ) : (
        <>
          <li />
          <li />
        </>
      )
    }

    <!-- 前頁が存在する場合、前頁Noを表示 -->
    {
      prev ? (
        <li>
          <a href={prev}>{currentPage - 1}</a>
        </li>
      ) : (
        <li />
      )
    }

    <!-- 現在の頁 -->
    <li class="currentPage">{currentPage}</li>

    <!-- 次頁が存在する場合、次頁Noを表示 -->
    {
      next ? (
        <li>
          <a href={next}>{currentPage + 1}</a>
        </li>
      ) : (
        <li />
      )
    }

    <!--次々頁が存在する場合は 最後の頁と...を表示-->
    {
      currentPage + 1 < lastPage ? (
        <>
          <li class="dot">...</li>
          <li class="pNumber">
            <a href={`/blogs/${lastPage}`}>{lastPage}</a>
          </li>
        </>
      ) : (
        <>
          <li />
          <li />
        </>
      )
    }

    <!-- 次頁が存在する場合、次へリンクを表示 -->
  </ul>

  {next ? <ArrowNext next={next} /> : <div class="blank"/>}
</nav>

<style>
  .pagination {
    display: flex;
    justify-content: space-evenly;
    padding-inline: 1.6rem;
  }

  .pagination ul {
    width: 210px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pagination li {
    text-align: center;
    /* padding: 0.3rem .4rem; */
    display: inline-block;
    width: 3rem;
  }

  a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--textBlack);
  }

  ul {
    /* width: 210px; */
    text-align: center;
  }

  .pagination a:hover {
    color: var(--attention);
  }
  .currentPage {
    box-sizing: border-box;
    color: var(--attention);
    border: 2px solid var(--attention);
    border-radius: 0.8rem;
    font-weight: bold;
    margin-top: -4px;
    padding-block: 2px;
  }

  .dot {
    color: var(--textGray);
  }

  .blank {
    width: 70px;
  }
</style>
