---
import Layout from "@layouts/layout.astro";
import BlogSummary from "@components/BlogSummary.astro";

// microCMSを呼び出す
import { getBlogs, getAllPosts } from "src/library/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
const posts = await getAllPosts();
---

<Layout title="ブログ一覧">
  <main>
    <section class="blogs">
      <h2>ブログ</h2>
      <div class="container">
        {
          posts.map((post) => (
            <BlogSummary
              id={post.id}
              src={post.eyecatch.url}
              date={post.publishedAt}
              title={post.title}
              summary={post.summary}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  section {
    max-width: 900px;
    margin: 4rem auto;
  }

  h2 {
    text-align: center;
  }

  .container {
    margin-block: 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
