---
import Layout from "@layouts/layout.astro";
import BlogPreview from "../components/BlogPreview.jsx";
import ButtonBasic from "@components/ButtonBasic.astro"
---

<Layout>
  <main>
    <section class="blog">
      <div class="container">
        <BlogPreview client:only="preact" />
        <!-- client:only　でサーバーサイドでレンダリングしない設定 -->
        <ButtonBasic
          href = {"/blogs/1"},
          text = {"一覧に戻る"}
        />
      </div>
      <aside>
        <div class="blog-list">
          <h3>最近の投稿</h3>
          <!-- {
            posts.map((post) => (
            <BlogSummary
            id={post.id}
            slug={post.slug}
            src={post.eyecatch.url}
            date={post.publishedAt}
            title={post.title}
            summary={post.summary}
            />
            ))
          } -->
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  .container {
    margin: 0 auto;
    height: auto;
    max-width: 640px;
    padding-inline: 1.6rem;
    padding-block: 4rem;
  }
</style>
