---
import Layout from "@layouts/layout.astro";
import BlogPreview from "../components/BlogPreview.jsx"

---

<Layout>
  <main>
    <section class="blog">
      <div class="container">
        <BlogPreview client:only="preact"/>
        <div class="back">
          <a href="/blogs/1">一覧に戻る</a>
        </div>
      </div>
      <aside>
        <div class="blog-list">
          <h3>最近の投稿</h3>
          <!-- {
            posts.map((post) => (
            <BlogSummary
            id={post.id}
            slug={post.slug}
            src={post.eyecatch.url}
            date={post.publishedAt}
            title={post.title}
            summary={post.summary}
            />
            ))
          } -->
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  .container {
    margin: 0 auto;
    height: auto;
    max-width: 640px;
    padding-inline: 1.6rem;
    padding-block: 4rem;
  }

  .publishedAt {
    font-size: 1.4rem;
    padding: 0;
  }

  .title {
    padding-block: 1.6rem;
  }

  .image {
    margin-block: 1.6rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  aside {
    display: none;
  }

  main a {
    padding: 0.8rem;
    text-align: center;
  }

  .back {
    text-align: center;
  }

  .back a {
    margin-block: 4rem;
    border: 1px solid var(--textBlack);
    padding: 1.2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--textBlack);
  }

  @media screen and (768px <= width) {
    section {
      display: flex;
      flex-direction: row;
      max-width: 900px;
      margin: 4rem auto;
    }
    aside {
      display: block;
      min-width: 300px;
    }
    h3 {
      padding-inline-start: 2.4rem;
      font-size: 2rem;
    }
    .blog-list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      position: sticky;
      top: 200px;
    }
  }
</style>

<!-- ブログ記事内に適用するCSS -->
<!-- <style is:global>
  .setHtml p {
    line-height: 3rem;
    padding-bottom: 4rem;
  }
</style> -->

<!-- <script>
  import { getBlogDetail } from "../library/microcms";

  const params = new URLSearchParams(window.location.search);
  const contentId = params.get("contentId");
  const draftKey = params.get("draftKey")

  if (contentId && draftKey) {
    getBlogDetail(contentId, {draftKey}).then((data) => {
      console.log(data);
      const titleEl = document.querySelector(".title");
      const publishedAtEl = document.querySelector(".publishedAt");
      // const postEl = document.querySelector(".post");
      const eyecatchEl = document.querySelector(".eyecatch")
      titleEl && (titleEl.textContent = data.title);
      publishedAtEl && (publishedAtEl.textContent = data.publishedAt ?? data.createdAt);
      // imgEl && (imgEl.textContent = data.img)
      // postEl && (postEl.innerHTML = data.article)
    })
  }
</script> -->
