---
import Layout from "@layouts/layout.astro";
import BlogPreview from "../components/BlogPreview.jsx"

---

<Layout>
  <main>
    <section class="blog">
        <BlogPreview client:only="preact"/>
        <!-- client:only　でサーバーサイドでレンダリングしない設定 -->
      <aside>
        <div class="blog-list">
          <h3>最近の投稿</h3>
          <!-- {
            posts.map((post) => (
            <BlogSummary
            id={post.id}
            slug={post.slug}
            src={post.eyecatch.url}
            date={post.publishedAt}
            title={post.title}
            summary={post.summary}
            />
            ))
          } -->
        </div>
      </aside>
    </section>
  </main>
</Layout>
