---
import type { GetStaticPathsOptions } from "astro";
import Layout from "@layouts/layout.astro";
import BlogSummary from "@components/BlogSummary.astro";
// microCMSを呼び出す
import { getBlogs, getAllPosts } from "../../../src/library/microcms";
import Paginate from "@components/Paginate.astro";


export const prerender = true;

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const blogs = await getBlogs({ limit: 100 });
  // pageSize = 一覧に表示する記事の数
  return paginate(blogs.contents, { pageSize: 1 });
};
const { page } = Astro.props;

const posts = await getAllPosts();

---

<Layout title="ブログ一覧">
  <main>
    <section class="blogs">
      <h2>ブログ</h2>
      <div class="container">
        {
          page.data.map((page) => (
            <BlogSummary
              id={page.id}
              slug={page.slug}
              src={page.eyecatch.url}
              date={page.publishedAt}
              title={page.title}
              summary={page.summary}
            />
          ))
        }
      </div>
      <Paginate
      prev={page.url.prev}
      currentPage={page.currentPage}
      next={page.url.next}
      lastPage={page.lastPage}
      />
    </section>
  </main>
</Layout>

<style>
  section {
    max-width: 900px;
    margin: 4rem auto;
  }

  h2 {
    text-align: center;
  }

  .container {
    margin-block: 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }


</style>
