---
import type { GetStaticPathsOptions } from "astro";
import Layout from "@layouts/layout.astro";
import BlogList from "@components/BlogList.astro";
// microCMSを呼び出す
import { getAllPosts } from "../../../src/library/microcms";
import Paginate from "@components/Paginate.astro";


export const prerender = true;

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const blogs = await getAllPosts();
  // pageSize = 一覧に表示する記事の数
  return paginate(blogs.contents, { pageSize: 3 });
};
const { page } = Astro.props;

---

<Layout pageTitle="ブログ一覧" description="">
  <main>
    <section class="blogs">
      <h2>ブログ</h2>
      <div class="container">
        {
          page.data.map((data) => (
            <BlogList
              id={data.id}
              slug={data.slug}
              src={data.eyecatch.url}
              date={data.publishedAt}
              title={data.title}
              summary={data.summary}
            />
          ))
        }
      </div>
      <Paginate
      prev={page.url.prev}
      currentPage={page.currentPage}
      next={page.url.next}
      lastPage={page.lastPage}
      />
    </section>
  </main>
</Layout>

<style>
  section {
    max-width: 900px;
    margin: 4rem auto;
  }

  h2 {
    text-align: center;
  }

  .container {
    margin-block: 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }


</style>
