---
import Layout from "@layouts/layout.astro";
import { getBlogs, getBlogDetail, getAllPosts } from "../../library/microcms";
import BlogSummary from "@components/BlogSummary.astro";

export const prerender = true;
// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({fields:["id"]["slug"]});
// { fields: ["slug"]["publishedAt"]
    return response.contents.map((content) => ({
    params: {
      blogId: content.id,
      slug: content.slug,
      publishedAt:content.publishedAt,
    },
    props: {content},
  }));
}

// 記事の詳細情報を取得

// const {
  // blogId,
  // slug,
  // publishedAt,
// } = Astro.params;
const {content} = Astro.props

// console.log(content);

// const blog = await getBlogDetail(blogId as string);
// const blog = await getBlogDetail(slug as string)
// const blog = await getBlogDetail(blogId)
const articles = content.article;

// const contents = blog.contents


// 日付の表示を変更
let pubDate;
if (content.publishedAt) {
  pubDate = new Date(content.publishedAt)
    .toLocaleDateString("ja-JP")
    .split("/")
    .join(".");
}
// aside用 microCMSを呼び出す
// const response = await getBlogs({fields: ["id","title"]});
const posts = await getAllPosts(5);
---

<Layout>
  <main>
    <section class="blog">
      <div class="container">
        <p class="publishedAt">{pubDate}</p>
        <h2 class="title">{content.title}</h2>
        <div class="image">
          <img
            src={content.eyecatch.url}
            alt=""
            height={content.eyecatch.height}
            width={content.eyecatch.width}
          />
        </div>
        <article>
          {
            articles.map((article) => {
              switch (article.fieldId) {
                case "rich_editor":
                  return <div set:html={article.rich_editor} />;
                case "image":
                  return (
                    <div class="image">
                      <img
                        src={article.image.url}
                        alt=""
                        height={article.image.height}
                        width={article.image.width}
                      />
                    </div>
                  );
                case "text":
                  return <p>{article.text}</p>;
                default:
                  break;
              }
            })
          }
        </article>
      </div>
      <aside>
        <div class="blog-list">
          <h3>最近の投稿</h3>
          {
            posts.map((post) => (
              <BlogSummary
                slug={post.slug}
                src={post.eyecatch.url}
                date={post.publishedAt}
                title={post.title}
                summary={post.summary}
              />
            ))
          }
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  .container {
    margin: 0 auto;
    max-width: 640px;
    padding-inline: 1.6rem;
    padding-block: 4rem;
  }
  .publishedAt {
    font-size: 1.4rem;
    padding: 0;
  }

  .title {
    padding-block: 1.6rem;
  }
  article {
  }
  .image {
    margin-block: 1.6rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  aside {
    display: none;
  }

  @media screen and (768px <= width) {
    section {
      display: flex;
      flex-direction: row;
      max-width: 900px;
      margin: 4rem auto;
    }
    aside {
      display: block;
      /* margin-top: 40px; */
      min-width: 300px;
    }
    h3 {
      padding-inline-start: 2.4rem;
      font-size: 2rem;
    }
    .blog-list {
      display: flex;
      flex-direction: column;
      /* padding-block: 4rem; */
      gap: 2.4rem;
      position: sticky;
      top: 200px;
    }
  }
</style>
